body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container{
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea{
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button{
    width:100%;
    padding: 10px;
    background: #4f46e5;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

#output{
    margin-top: 10px;
    background: #eef;
    padding: 10px;
    border-radius: 6px;
    min-height: 80px;
}